*{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 0;
    margin: 0;
}
body::before{
    /* opacity: 0.9; */
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 46px;
    position: absolute;
    background: url('1_10.gif') no-repeat;
    background-size: 100%;
    color: white;

}
nav{
    background-color:black;
    padding: 30px;
}
ul{
    display: flex;
    flex-direction: row;
    padding-left: 150px;
}
li{
    list-style: none;
    padding: 0px 30px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    /* font-style: ; */
    cursor: pointer;
}
h2{
    text-align: center;
    color: white;
    font-size: 40px;
    /* text-shadow:2px solid black; */
    /* outline: 2px dotted red; */
}
.container{
    margin: 50px auto;
    /* background-color: yellow; */
    max-width: 70%;
    /* opacity: 1; */
    visibility: 20px;
}
input, textarea{
    display: block;
    padding: 3px;
    margin: 15px auto;
    width: 60%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    margin: 4px auto;
    display: block;
    padding: 15px 12px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.logo{
    width: 80px;
    position: absolute;
    border: 2px solid orangered;
    border-bottom-style: groove;
    border-radius: 5px;
    cursor: pointer;
}